.navbar {
  display: flex;
  gap: 1.5rem;
  background-color: #1f2933;
  padding: 1rem;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}

/* hover */
.navbar a:hover {
  color: white;
}

/* ACTIVE LINK */
.active {
  color: #ffffff;
  font-weight: 600;
}

/* linija ispod aktivnog linka */
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3b82f6;
}
